.header {
    background-color: #012169;
    color: #F3F2F1;
    margin-top: 0px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
}

.text {
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.logo {
    transform: rotate(-0.5deg);
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin: 15px;
}

form {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.seed-input {
    margin: 5px;
}